<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="site.icefox.javaeelearn.Mapper.UserMapper">
    <!--select查询语句-->
    <select id="getUserByUid" resultType="UserEntity">
        select *
        from d_mybiteslearn.t_users
        where uid = #{uid}
    </select>
    <select id="getUsers" resultType="UserEntity">
        select *
        from d_mybiteslearn.t_users;
    </select>

    <!-- 插入操作 -->
    <insert id="addUser" parameterType="UserEntity">
        insert into t_users (uid, uname, uage, usex)
        values (#{uid}, #{uname}, #{uage}, #{usex})
    </insert>

    <!-- 修改操作 -->
    <update id="updateUser" parameterType="UserEntity">
        update t_users
        set uname= #{uname},
            uage = #{uage},
            usex = #{usex}
        where uid = #{uid}
    </update>

    <!-- 删除操作 -->
    <delete id="deleteUser" parameterType="Integer">
        delete from t_users where uid=#{uid}
    </delete>

</mapper>
