<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="site.icefox.javaeelearn.Mapper.UsersMapper">
    <!--    三 一对多查询-->
    <resultMap type="UsersEntity" id="UserWithOrdersResult">
        <id property="id" column="user_id"/>  <!-- 用户ID -->
        <result property="username" column="username"/>  <!-- 用户名 -->
        <result property="address" column="address"/>    <!-- 用户地址 -->

        <collection property="ordersList" ofType="OrdersEntity">
            <id property="id" column="orders_id"/>  <!-- 订单ID -->
            <result property="number" column="number"/>  <!-- 订单号 -->
        </collection>
    </resultMap>

    <select id="findUserWithOrders" resultMap="UserWithOrdersResult">
        SELECT *
        FROM tb_user u
                 LEFT JOIN tb_orders o ON u.id = o.user_id
        WHERE u.id = #{id}
    </select>
</mapper>
